# Environments
.env
.venv
venv/
ENV/
env/
.secret

# Python
__pycache__/
*.py[cod]
*$py.class

# Audio files
*.wav
*.m4a

# VSCode
.vscode/

whisprly.egg-info/

# Build artifacts
build/
dist/
*.spec
icon.ico

